body {
    background-color: darkred;
    font-family: 'Lato', sans-serif;
    color: white;
}



.bigtextdiv{
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    margin-top: 5%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;


}

.bigtextdiv.links{
   display: block;
    text-align: center;
    margin-top: 50%;


}

.links{
    text-align: center;

}


.bigtext{
    font-size: 600%;
}

.linktext {
    display: inline;
    font-size: 200%;
    padding: 0 5%;
    color: deepskyblue;
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}